# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Node / frontend (si tienes frontend)
node_modules/
dist/
build/

# Environment Variables and Credentials
.env
cods.txt
testDatos.py